/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   @import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    color: #222;
    line-height: 1.4;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @charset "utf-8";

   /* CSS Document */

   body {
       margin: 0px;
       padding: 0px;
       font-family: 'Roboto', sans-serif;
   }

   .top_bar {
       width: 100%;
       height: auto;
       background: #000;
   }

   .header_top {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
   }

   .news_feed h5 {
       font-size: 14px;
       color: #FFF;
   }

   .contact_sec ul {
        margin-bottom: 0;
   }

   .contact_sec ul li {
       color: #FFF;
       font-size: 14px
   }

   .contact_sec .register_btn {
       background: #ff005f;
       border: none;
       padding: 10px 20px;
   }

   .home-header {
        position: relative;
   }

   .menu_bar {
       width: 100%;
       height: auto;
       margin: 0px;
       padding: 0px;
       position: absolute;
       z-index: 11;
   }

   .menu_bar .navbar {
        margin-bottom: 0;
   }

   .menu_bar .navbar-brand>img {
        height: 60px;
   }

   .navbar-header .icon-bar {
       background: #999
   }

   .navbar-nav #nav_search {
       display: none;
   }

   .navbar-nav #nav_search .form-control {
        display: inline-block;
   }

   .navbar-nav .nav-search {
        display: inline-block;
   }

   .my_navbar {
       margin-top: 20px;
   }

   .p-0 {
        padding: 0;
   }

   .my_navbar li a {
       color: #fff;
       font-size: 16px;
       transition: all ease-in-out 0.4s;
   }

   .my_navbar li a:hover, .my_navbar li a:focus {
        background-color: #00a8ff;
        border-radius: 4px;
        color: #fff;
   }

   #home_slider .carousel-inner .item:first-child {
        background: url('../img/_banners/banner01.png') no-repeat center center scroll;
        background-size: cover;
        height: 600px;
   }

   #home_slider .carousel-inner .item:nth-child(2) {
        background: url('../img/_banners/banner02.png') no-repeat center center scroll;
        background-size: cover;
        height: 600px;
   }

   #home_slider .carousel-inner .item:nth-child(3) {
        background: url('../img/_banners/banner03.png') no-repeat center center scroll;
        background-size: cover;
        height: 600px;
   }

   #home_slider .carousel-inner .item:last-child {
        background: url('../img/_banners/banner04.png') no-repeat center center scroll;
        background-size: cover;
        height: 600px;
   }

   #home_slider .carousel-control.left, #home_slider .carousel-control.left, #home_slider .carousel-control.right, #home_slider .carousel-control.right {
        background-image: none;
        opacity: 1;
   }

   #home_slider .carousel-control.left:hover, #home_slider .carousel-control.left:focus, #home_slider .carousel-control.right:hover, #home_slider .carousel-control.right:focus {
        opacity: 1;
   }

   #home_slider .carousel-control {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       width: 40px;
       height: 40px;
       font-size: 20px;
       color: #fff;
       text-align: center;
       filter: alpha(opacity=50);
       opacity: .5;
       margin: auto;
       background-color: #00a8ff;
   }

   #home_slider .carousel-control.right {
        right: 0;
        left: auto;
   }

   #home_slider .carousel-control .glyphicon-chevron-left, #home_slider .carousel-control .glyphicon-chevron-right, #home_slider .carousel-control .icon-next, #home_slider .carousel-control .icon-prev {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
   }

   .slider_content {
       background: rgba( 0, 0, 0, 0.0)
   }

   .slider_content h1 {
       font-size: 2rem;
       line-height: 1.1;
       font-family: 'Roboto', sans-serif;
       color: #FFF;
       font-weight: 700;
       margin-bottom: 0.4rem;
   }

   .slider_content p {
       font-size: 14px;
       line-height: 22px;
       font-family: 'Roboto', sans-serif;
       color: #FFF;
       margin-bottom: 0.4rem;
   }

   .slider_content button {
       border: none;
       background: #ff005f;
       padding: 15px 30px;
       color: #fff;
       margin-top: 1.5rem;
       outline: none;
       font-size: 1rem;
   }

   .our_program {
       width: 100%;
       height: auto;
       padding: 3rem 0;
   }

   .our_program .program-block {
       display: flex;
       flex-flow: row wrap;
       justify-content: flex-end;
   }

   .our_program .program_box {
       border: 1px solid #CCCCCC;
       margin: 0px auto;
       box-shadow: 0px 0px 15px #666666;
       position: relative;
       margin: 1em 1em 3em;
       width: 25%;
       background-color: #fff;
   }

   .our_program .program_box.custom-ml {
        margin-left: 6rem;
   }

   .our_program .program_box.less_border_box {
       border: none;
       box-shadow: none;
       align-self: center;
       width: auto;
       max-width: 33%;
   }

   .program_box .img_thumb {
       width: 100%;
       height: 250px;
       margin-top: -20px;
       margin-left: -30px;
       position: relative;
   }

   .program_box .img_thumb > img {
       width: 100%;
       height: 250px;
   }

   .program_box .img_thumb > .img-title {
        font-size: 15px;
        color: #FFF;
        position: absolute;
        bottom: 20px;
        left: 25px;
   }

   .program_box .pro_content {
        margin-bottom: 70px;
   }

   .program_box .pro_content p {
       font-size: 14px;
       line-height: 20px;
       padding: 10px;
       font-family: 'Roboto', sans-serif;
   }

   .pro_footer {
       position: absolute;
       bottom: 0;
       right: 0;
       width: 50px;
       height: 50px;
       background-color: #000;
       color: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .program_box h2 {
       font-size: 76px;
       font-weight: bold;
       font-family: 'Roboto', sans-serif;
       color: #e6e6e6;
       text-transform: uppercase;
       margin: 0;
   }

   .coureses_bg {
       background: url('../img/_home_page/background_image_top_courses.png');
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
   }

   .coureses_bg .pink_bg {
       width: 100%;
       height: auto;
       background: rgba(255, 0, 95, 0.6);
       margin: 0px;
       padding: 5rem 0 4rem;
   }

   .d-flex {
       display: flex;
       flex-flow: row wrap;
   }

   .coureses_bg .courese_detail {
       width: 100%;
       height: auto
   }

   .courese_detail h1 {
       font-size: 45px;
       color: #FFF;
       font-family: 'Roboto', sans-serif;
       font-weight: 700;
       padding-top: 20px
   }

   .courese_detail p {
       font-family: 'Roboto', sans-serif;
       font-size: 16px;
       line-height: 22px;
       color: #FFF
   }

   .course_box {
       width: 100%;
       height: auto;
       position: relative;
       background: #FFF;
       margin-bottom: 30px;
       transition: all 1s
   }

   .course_box:hover {
       transform: scale(1.1, 1.1);
       cursor: pointer
   }

   .course_box .c_thumb {
       width: 100%;
       height: 50%;
       display: flex;
       justify-content: center;
   }

   .course_para h1 {
       font-size: 20px;
       font-family: 'Roboto', sans-serif;
       line-height: 26px;
       text-transform: uppercase;
       padding: 10px;
       margin: 0px;
   }

   .course_para p {
       font-size: 16px;
       font-family: 'Roboto', sans-serif;
       line-height: 22px;
       padding: 0px 10px 10px 10px
   }

   .course_box .large_btn {
       width: 100%;
       height: 60px;
       background: #ff005f;
       cursor: pointer
   }

   .large_btn button {
       color: #FFF;
       font-size: 18px;
       font-family: 'Roboto', sans-serif;
       background: none;
       border: none;
       outline: none;
       font-weight: 700;
       line-height: 60px
   }

   .visite_course {
       color: #FFF;
       cursor: pointer;
       margin-bottom: 20px
   }

   .our_partners {
       width: 100%;
       height: auto;
       padding: 3rem 0;
   }

   .our_partners h1 {
       font-size: 22px;
       font-family: 'Roboto', sans-serif;
       font-weight: bold;
       margin-bottom: 0.5rem;
   }

   .our_partners h2 {
       font-size: 18px;
       font-family: 'Roboto', sans-serif;
       font-weight: bold;
       margin-top: 0;
   }

   .our_partners .company_thumbs {
       border: 0px solid #c9c9c9;
       box-shadow: 0px 0px 12px #666666;
       margin: 20px 0px;
       position: relative;
       -webkit-animation: mymove 15s infinite;
       animation: mymove 10s infinite;
       padding: 1em;
       width: 100%;
       height: 140px;
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .our_partners .company_thumbs > img {
       margin: auto;
   }

   .hiring_partners {
       width: 100%;
       height: auto;
       padding: 3rem 0 1rem;
   }

   .hiring_partners h1 {
       font-size: 22px;
       font-family: 'Roboto', sans-serif;
       font-weight: 900;
       margin-bottom: 0.5rem;
   }

   .hiring_partners h2 {
       font-size: 18px;
       font-family: 'Roboto', sans-serif;
       font-weight: 600;
       margin-top: 0;
   }

   .hiring_partners p {
       font-size: 13px;
       line-height: 22px;
       font-family: 'Roboto', sans-serif;
   }

   .hiring_partners .company_thumbs {
       height: 120px;
       display: flex;
       justify-content: center;
   }

   .mt-3 {
       margin-top: 3em;
   }

   .our_story {
       width: 100%;
       height: auto;
       padding: 3rem 0 5rem;
   }

   .our-story-heading {
       margin-bottom: 3rem;
   }

   .content-left.container {
       padding-left: 0;
       margin-left: 0;
   }

   .our-story-block {
       display: flex;
       flex-flow: row nowrap;
       justify-content: flex-start;
       align-items: center;
   }

   .story_content {
       width: 28%;
       z-index: -1;
   }

   .our_story .story_content h2 {
       font-size: 55px;
       font-weight: bold;
       font-family: 'Roboto', sans-serif;
       color: #e6e6e6;
       text-transform: uppercase;
       line-height: 61px
   }

   .our_story h1 {
       font-size: 22px;
       font-family: 'Roboto', sans-serif;
       font-weight: bolder;
       text-transform: uppercase;
   }

   .my_media {
       width: 32%;
       height: auto;
       border: 1px solid #bdb9bb;
       box-shadow: 0 0 15px #bdb9bb;
       padding: 1rem;
       background-color: #fff;
   }

   .my_media h3 {
       font-size: 16px;
       font-family: 'Roboto', sans-serif;
       font-weight: 700;
       margin-bottom: 1rem;
       margin-top: 0;
   }

   .my_media .media-object {
       border-radius: 50%;
       width: 100px;
       height: 100px;
   }

   .my_media .media-body {
       vertical-align: middle;
   }

   .my_media .media-heading {
       font-size: 1em;
   }

   .my_media .media-subheading {
       color: #ff005f;
   }

   .my_media .media-content {
       font-size: 14px;
       font-family: 'Roboto', sans-serif;
       line-height: 20px;
       padding: 0px 0px 10px 10px;
   }

   .my_media .btn {
       background-color: #ff005f;
       border: none;
       outline: none;
       color: #fff;
       padding: 8px 18px;
       margin: 10px;
       border-radius: 0;
   }

   .our-story-gallery {
       width: 40%;
       margin-right: 0;
       display: flex;
       flex-flow: row wrap;
       justify-content: flex-start;
       align-items: center;
   }

   .our-story-gallery img {
       width: 33.33%;
   }

   .gallery-navs {
       text-align: center;
       padding: 1rem;
   }

   .gallery-navs > ul {
       margin-bottom: 0;
   }

   .gallery-navs ul li {
       border-radius: 50%;
       width: 10px;
       height: 10px;
       background-color: #222;
   }

   .build_career {
       width: 100%;
       height: auto;
       background-color: #000;
       padding: 2rem 0;
   }

   .build_career_block {
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;
       align-items: center;
   }

   .build_career h1 {
       font-size: 2rem;
       line-height: 42px;
       font-family: 'Roboto', sans-serif;
       font-weight: 600;
       color: #fff;
       margin: 0;
   }

   .build_career .btn {
       background: none;
       border: 3px solid #fff;
       outline: none;
       padding: 15px 40px;
       color: #fff;
       border-radius: 0;
       font-weight: bold;
       font-family: 'Roboto', sans-serif;
       font-size: 1.4rem;
       transition: all ease-in 0.4s;
   }

   .build_career .btn:hover, .build_career .btn:focus {
       background-color: #fff;
       color: #222;
       box-shadow: 1px 1px 8px 0px #eee;
   }

   footer {
       width: 100%;
       height: auto;
       background-color: #292929;
       margin: 0px;
       padding: 3rem 0rem;
   }

   footer .footer-link-heading {
       font-size: 1rem;
       line-height: 2.5rem;
       font-family: 'Roboto', sans-serif;
       color: #fff;
       font-weight: 600;
       position: relative;
       margin: 0;
   }

   footer .footer-link-heading::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 2px;
        border: 2px solid rgb(93, 93, 93);
   }

   footer .footer_item {
        padding-left: 0;
        margin-top: 0.5rem;
   }

   footer ul li {
       list-style: none;
       padding-top: 5px
   }

   footer ul li a {
       color: #f5f5f5;
       font-size: 13px;
       font-family: 'Roboto', sans-serif;
       transition: all ease-in 0.4s;
   }

   footer ul li a:hover, footer ul li a:focus {
        text-decoration: none;
        color: #fff;
   }

   .social_links i {
       color: #a3a3a3
   }

   .copyright {
       width: 100%;
       height: auto;
       background-color: #000
   }

   .copyright-block {
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;
       align-items: center;
       padding: 0.5rem 0;
   }

   .left_copyright p {
       color: #fff;
       font-family: 'Roboto', sans-serif;
       font-size: 12px;
       margin: 0;
   }

   .copyright .btn {
       border: none;
       outline: none;
       background-color: #00a8ff;
       color: #fff;
       font-family: 'Roboto', sans-serif;
       padding: 8px 20px;
       text-shadow: none;
       font-weight: normal;
       border-radius: 0;
       transition: all ease-in 0.4s;
       font-size: 1em;
   }

   .copyright .btn:hover, .copyright .btn:focus {
       color: #f5f5f5;
       background-color: #00b9ff;
   }

   .build_career_heading > span {
        color: #a3a3a3;
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 1200px) {
    .container {
       max-width: 1170px;
    }
    .content-left.container {
        max-width: 80%;
    }
    .content-left.container {
        margin-left: auto;
        padding-left: 15px;
    }
    .container-fluid {
        max-width: 1800px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .container {
       max-width: 970px;
    }
    .content-left.container {
        max-width: 80%;
    }
    .container.custom-container {
         width: 80%;
    }
}

@media (min-width: 768px) {
    .container.custom-container {
         width: 96%;
    }
    .content-left.container {
        max-width: 96%;
    }
    .container {
        width: 96%;
    }
    #home_slider .carousel-caption {
        right: 0;
        left: 0;
        padding-bottom: 30px;
        text-align: left;
    }
}

@media all and (max-width: 991px) and (min-width: 768px) {
    .our_program .program_box.custom-ml { margin-left: 3rem; }
    .program_box h2 { font-size: 3.5rem; }
}

@media all and (max-width: 767px) {
    .our_program .program-block {
        flex-flow: column wrap;
        align-items: center;
    }
    .our_program .program_box {
        width: 85%;
    }
    .our_program .program_box.custom-ml { margin-left: 0rem; }
    .our_program .program_box.less_border_box {
        order: -1;
        width: 100%;
        align-self: baseline;
    }
    .our-story-block {
        flex-flow: column wrap;
    }
    .story_content {
        width: 90%;
    }
    .my_media {
        width: 90%;
    }
    .our-story-gallery {
        width: 100%;
    }
    .menu_bar .navbar-collapse.collapse.in {
        background: #fff;
        position: absolute;
        width: 100%;
        z-index: 111;
    }
    .my_navbar {
        width: 100%;
        margin-top: 0;
        float: none!important;
        margin: auto;
    }
    .my_navbar li a {
        color: #222;
    }
    .navbar-toggle {
        background: #00a8ff;
        margin-top: 1.5rem;
    }
    .navbar-header .icon-bar {
        background: #fff;
    }
    .program_box h2 { font-size: 2.5rem; }
    .contact_sec ul li {
        display: block;
        padding: 0.3rem;
    }
    .slider_content h1 { font-size: 1.5rem; }
    .build_career_block {
        flex-flow: row wrap;
    }
    .build_career_button {
        margin-top: 1.5rem;
    }
    .coureses_bg .pink_bg {
        padding: 0 0 2rem;
    }
    .our_story .story_content h2 {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
